.submit-order-body {
    @extend .main;
    .desk-btn {
        color: $theme !important;
        .modify {
            display: inline-block;
            @extend .bg-modify;
            position: relative;
            top: 4px;
            left: 4px;
        }
    }
    .order-box {
        .ways {
            li {
                &:last-of-type {
                    border-bottom: none!important;
                }
            }
        }
    }
    .desk-panel {
        height: auto;
        bottom: 0;
        background-color: #f5f5f5;
        font-size: 18px;
        color: $fweight;
        span {
            display: block;
            height: 50px;
            line-height: 50px;
            background-color: #fff;
            text-align: center;
            &:nth-of-type(1) {
                border-bottom: 1px solid #e1e1e1;
            }
            &:nth-of-type(2) {
                margin-bottom: 5px;
            }
        }
    }
}
