@mixin common {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
    label {
        display: inline-block;
        width: 57px;
        text-align: justify;
        padding-right: 12px;
        position: relative;
        color: $flight;
        overflow: hidden;
        height: 23px;
        &:before {
            content: ":";
            display: inline-block;
            position: absolute;
            right: 8px;
        }
        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
    }
}

@mixin num {
    display: table-cell;
    width: 30px;
    height: 28px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    position: relative;
}

.tickets-body {
    @extend .main;
    .top-img {
        position: relative;
        .mb {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, .48);
        }
        .tip {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            p {
                color: #fff;
                text-align: center;
            }
            .title {
                font-size: 0.9rem;
            }
            .price {
                font-size: 0.75rem;
            }
        }
    }
    .content {
        @include common;
        p {
            line-height: 23px;
        }
        span {
            color: $fweight;
        }
    }
    .count {
        @include common;
        align-items: center;
        .box {
            font-size: 0;
            display: table;
            .num {
                display: table-cell;
                width: 45px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 20px;
                border-radius: none;
                color:$fnormal;
            }
            .reduce {
                @include num;
                &:after {
                    content: "";
                    @extend .bg-reduce;
                    position: absolute;
                    left: 7px;
                    top: 45%;
                }
            }
            .reduce.on {
                border: 1px solid $theme !important;
                &:after {
                    content: "";
                    @extend .bg-reduce-on;
                    position: absolute;
                    left: 7px;
                    top: 45%;
                }
            }
            .add {
                @include num;
                &:after {
                    content: "";
                    @extend .bg-add;
                    position: absolute;
                    left: 8px;
                    top: 31%;
                }
            }
            .add.on {
                border: 1px solid $theme !important;
                &:after {
                    content: "";
                    @extend .bg-add-on;
                    position: absolute;
                    left: 8px;
                    top: 30%;
                }
            }
        }
    }
}
